<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>
    <link rel="shortcut icon" type="image/png" href="static/logo.png"/>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link src="datepicker.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="/static/bootstrap-datepicker.js"></script>


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li><a class="btn btn-primary" href="/statistics" role="button">Estatística</a></li>
                    <li><a class="btn btn-primary" href="/loadnetflow" role="button">Carregar netflow</a></li>
                </ul>
            </nav>
            <div>
              <img src="/static/logo.png" style="float: left;" height="60" width="52">
              <h3 class="text-muted">PFC - Detecção de botnets</h3>
            </div>
        </div>
          <br/>
            <h3>Pesquisar:</h3>
              <div >
                <form class="form-inline a">
                  <div class="form-group">
                    <input type="text" class="form-control" id="ip" placeholder="Endereço IP">
                    <input type="text" class="form-control" id="model" placeholder="Modelo">
                    <input type="text" class="input-append form-control datepicker" placeholder="Data" data-date-format="yyyy-MM-dd" id="date">
                    <input type="text" class="input-append form-control datepicker2" placeholder="Data" data-date-format="yyyy-MM-dd" id="date2">
                  </div>
              </div>
            </p>
          <hr>
            <br/>
            <div class="col-md-6 col-md-offset-5">
              <button type="button" class="btn btn-primary" id="search">Buscar</button>
            </div>
        <!-- </div> -->

        <div class="row marketing">
            <div class="col-lg-12" id="tb">
            </div>
        </div>

        <footer class="footer">
            <p>INSTITUTO MILITAR DE ENGENHARIA</p>
        </footer>
        <script type="text/javascript">
           $(function(){ // I use jQuery in this example
               document.getElementById('search').onclick =
                   function () {
                      var date = $('#date').val();
                      var date2 = $('#date2').val();
                      var model = $('#model').val();
                      var ip = $('#ip').val();
                      console.log(date);
                      $.ajax({
                        url: '/search',
                        data: JSON.stringify({model: model, ip: ip, date: date, endDate: date2}),
                        contentType: 'application/json;charset=UTF-8',
                        type: 'POST',
                        success: function(response) {
                          var values = $.parseJSON(response);
                          if($('.table').length == 0){
                            plotTable(values, 1);
                          } else {
                            $('#elem').remove();
                            plotTable(values, 1);
                          }
                        },
                        error: function(error) {
                          console.log(error);
                        }
                      });
                    };

              $('.datepicker').datepicker();
              $('.datepicker2').datepicker();
           });

           function plotTable(values, index){
            $('#tb').append('<div id="elem"></div>');
            $('#elem').append("<table class='table table-hover'><thead><tr><th>Data</th><th>endereço IP</th><th>Modelo</th></tr></thead><tbody id='records_table'></tbody></table>")

            var size = values.length;
            if(size <= 10){
              var trHTML = '';
              $.each(values, function (i, item) {
                trHTML += '<tr><td>' + item.date + '</td><td>' + item.addr + '</td><td>' + item.model + '</td></tr>';
              });
             $('#records_table').append(trHTML);
            }
            else {
              var t = (parseInt(index)-1)*10;
              for(var i = t; i < t + 10; i++) {
                trHTML += '<tr><td>' + values[i].date + '</td><td>' + values[i].addr + '</td><td>' + values[i].model + '</td></tr>';
              }
              $('#records_table').append(trHTML);
            }
            $("#elem").append("<nav aria-label='Page navigation'><ul class='pagination'><li class='page-item'><a class='page-link' href='#' aria-label='Previous'><span aria-hidden='true'>"
            + "&laquo;</span>"  +"<span class='sr-only'>Previous</span>" +'</a>' +'</li>' +
            '<li class="page-item active"><a class="page-link" id="first">' + parseInt(index) + '</a></li>'+
            '<li class="page-item"><a class="page-link">' + (parseInt(index) + 1) + '</a></li>' +
            '<li class="page-item"><a class="page-link">' + (parseInt(index) + 2 )+ '</a></li>' +
            '<li class="page-item"><a class="page-link">' + (parseInt(index) + 3) + '</a></li>' +
            '<li class="page-item"><a class="page-link" id="last">' + (parseInt(index) + 4) + '</a></li>' +
            '<li class="page-item">' +
            '<a class="page-link" href="#" aria-label="Next" id="next">' + '<span aria-hidden="true">&raquo;</span>'+
            '<span class="sr-only">Next</span>'+'</a>'+'</li>'+'</ul>'+'</nav>');

            $('a.page-link').click(function(){
              var clicked = $(this).text();
              var active = $('#first').text();
              if(clicked !== active){
                $('#elem').remove();
                plotTable(values, clicked);
              }
            });
           }
        </script>
    </div>
</body>

</html>
